/*=============== Hero Banner Styling ==================*/
.bannerContainer {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 0 8px 24px rgba(58, 58, 163, 0.842);
  background: url(/images/heroBannerImg.png) no-repeat center center / cover;
  display: flex;
}

.leftColumn {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;
}

.mainHeading {
  font-size: 3.6rem;
  color: #042d66e5;
  font-weight: 700;
  margin-bottom: -8px;
}

.leftColumn p {
  width: 400px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 20px;
  margin: 15px 0;
  color: #000000;
}

.button-container {
  display: flex;
  gap: 20px;
}

.primaryButton {
  width: 120px;
  font-size: 1.6rem;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  font-weight: 500;
  background-color: transparent;
  color: var(--text-light);
  padding: 5px 10px;
  height: 35px;
  transition: all 0.3s ease;
}

.primaryButton:hover {
  background-color: #0a4f8b;
  border: 1px solid #0a4f8b;
}

.rightColumn {
  flex-basis: 50%;
  padding: 20px 60px 0 20px;
}

.rightColumn img {
  width: 95%;
  height: 100%;
}

/*=============== About Section Styling ==================*/
.about-section {
  display: flex;
  gap: 30px;
  padding: 60px 20px;
}

.imgContainer {
  flex-basis: 48%;
  padding: 20px;
}

.imgContainer img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px #9bccecd8;
  border: 1px solid #e0e0e0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 48%;
  padding: 20px;
}

.contentContainer h2 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #0d3d74;
}

.contentContainer p {
  font-size: 1.8rem;
  line-height: 22px;
  color: var(--text-secondary);
}

/* min-width 481 and max-width 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /*=============== Hero Banner Styling ==================*/
  .leftColumn {
    flex-basis: 40%;
    padding-left: 50px;
  }

  .mainHeading {
    font-size: 3rem;
    margin-bottom: -5px;
  }

  .leftColumn p {
    width: 350px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 16px;
    margin: 12px 0;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }

  .primaryButton {
    width: 100px;
    font-size: 1.4rem;
    padding: 5px 8px;
    height: 32px;
  }

  .rightColumn {
    flex-grow: 1;
    padding: 10px 20px 0 10px;
  }

  .rightColumn img {
    width: 100%;
  }

  /*=============== About Section Styling ==================*/
  .about-section {
    gap: 0;
    padding: 40px 10px;
  }

  .imgContainer {
    flex-basis: 48%;
    padding: 15px;
  }

  .imgContainer img {
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px 3px #9bccecd8;
  }

  .contentContainer {
    padding: 10px;
  }

  .contentContainer h2 {
    font-size: 3.2rem;
  }

  .contentContainer p {
    font-size: 1.6rem;
    line-height: 15px;
  }
}

/* min-width 375px and max-width 480px*/
@media screen and (min-width: 375px) and (max-width: 480px) {
  /*=============== Hero Banner Styling ==================*/
  .leftColumn {
    flex-grow: 1;
    padding: 20px;
  }

  .mainHeading {
    font-size: 3rem;
    margin-bottom: -5px;
    text-align: center;
  }

  .leftColumn p {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 14px;
    margin: 10px 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  .primaryButton {
    width: 80px;
    font-size: 1.4rem;
    padding: 5px 8px;
    height: 30px;
  }

  .rightColumn {
    display: none;
  }

  /*=============== About Section Styling ==================*/
  .about-section {
    flex-direction: column-reverse;
    gap: 0;
    padding: 25px 10px;
  }

  .imgContainer {
    flex-basis: 48%;
    padding: 10px;
  }

  .imgContainer img {
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #9bccecd8;
  }

  .contentContainer {
    padding: 10px;
  }

  .contentContainer h2 {
    font-size: 3.2rem;
  }

  .contentContainer p {
    font-size: 1.8rem;
    line-height: 15px;
  }
}

/* min-width 250 and max-width 374px*/
@media screen and (min-width: 250px) and (max-width: 374px) {
  /*=============== Hero Banner Styling ==================*/
  .leftColumn {
    flex-grow: 1;
    padding: 20px;
  }

  .mainHeading {
    font-size: 2.5rem;
    text-align: center;
  }

  .leftColumn p {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 12px;
    margin: 8px 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .primaryButton {
    width: 70px;
    font-size: 1.2rem;
    padding: 3px 8px;
    height: 25px;
  }

  .rightColumn {
    display: none;
  }

  /*=============== About Section Styling ==================*/
  .about-section {
    flex-direction: column-reverse;
    gap: 0;
    padding: 20px 10px;
  }

  .imgContainer {
    display: none;
  }

  .contentContainer {
    padding: 10px;
  }

  .contentContainer h2 {
    font-size: 2.8rem;
  }

  .contentContainer p {
    font-size: 1.6rem;
    line-height: 15px;
  }
}
