.address-container {
  background: var(--bg-primary);
  padding: 25px;
  border-radius: 15px;
  height: 80%;
}

.address-container h2 {
  font-size: 2.5rem;
}

.address {
  margin-top: 30px;
  display: flex;
  align-items: start;
  gap: 15px;
}

.addressLogoContainer {
  flex-shrink: 0;
  background: #dbeafe;
  border: 1px solid #bfdbfe;
  padding: 10px;
  border-radius: 15px;
  width: 50px;
  height: 50px;
}

.addressContent {
  flex-grow: 1;
}

.addressContent h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.addressContent p {
  font-size: 1.6rem;
  color: #8a9099;
  line-height: 18px;
  width: 200px;
}

.socialMediaContainer {
  background: var(--bg-primary);
  padding: 25px;
  border-radius: 15px;
  flex-grow: 1;
}

.socialMediaContainer h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.iconContainer {
  display: flex;
  gap: 10px;
}

.iconContainer a {
  background: #003f7d;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.iconContainer svg {
  fill: #ffffff;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in;
}

.iconContainer a:hover {
  border: 1px solid #003f7d;
  border-radius: 5px;
  background: transparent;
}

.iconContainer svg:hover {
  fill: #003f7d;
}
