.secondaryButton {
  width: 220px;
  font-size: 1.6rem;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  font-weight: 500;
  background-color: #0a4f8b;
  color: var(--text-light);
  padding: 5px 20px;
  height: 35px;
  transition: all 0.3s ease;
}

.secondaryButton:hover {
  background-color: white;
  color: #000000;
}

/* min-width 481 and max-width 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .secondaryButton {
    width: 200px;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 5px 15px;
    height: 32px;
  }
}

/* min-width 375px and max-width 480px*/
@media screen and (min-width: 375px) and (max-width: 480px) {
  .secondaryButton {
    width: 150px;
    font-size: 1.4rem;
    border-radius: 10px;
    padding: 5px 10px;
    height: 30px;
  }
}

/* min-width 250 and max-width 374px*/
@media screen and (min-width: 250px) and (max-width: 374px) {
  .secondaryButton {
    width: 120px;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 8px;
    height: 25px;
  }
}
