.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.form-box {
  background: #1e88e593;
  padding: 24px 24px 10px 24px;
  width: 400px;
  border-radius: 8px;
  overflow-y: auto;
  height: 70%;
  scrollbar-width: thin;
}

.form-box::-webkit-scrollbar-track {
  background: transparent;
}

.closeBtn {
  border: none;
  background: transparent;
  float: right;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  top: -16px;
  right: -8px;
}

.heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 5px 0;
  color: rgba(8, 8, 102, 0.733);
}

label {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 5px 0;
  color: var(--text-light);
}

.form-box input {
  font-size: 1.6rem;
  margin: 3px 0;
  border: none;
  padding: 2px 5px;
  background: transparent;
  color: white;
  border-bottom: 2px solid white;
  outline: none;
}

.form-box input::placeholder {
  color: white;
}

.gender-container {
  display: flex;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.servicesListContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-container {
  width: 100%;
  text-align: center;
  margin: 8px 0;
}

.btn-container button {
  width: 30%;
  padding: 2px 5px;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: rgb(5, 5, 116);
  transition: all 0.3s ease;
  color: white;
}

.btn-container button:hover {
  background: rgb(4, 71, 4);
}
