.breadcrumbHeader {
  display: flex;
  background-color: var(--secondary-color);
  height: 80px;
}

.breadcrumbHeader h2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-primary);
}

.linkContainer {
  height: 100%;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-left: 10px solid #dfdada;
  border-right: 10px solid #dfdada;
  transform: skewX(-20deg);
}

.linkContainer span:first-child {
  transform: skewX(20deg);
}

.linkContainer span:first-child a {
  transform: skewX(20deg);
  text-decoration: none;
  font-size: 2rem;
  color: #b00410;
  transition: all 0.2s ease;
}

.linkContainer span:first-child a:hover {
  color: #e3f2fd;
}

.linkContainer span:nth-child(2) {
  transform: skewX(20deg);
  color: var(--text-primary);
  font-size: 2rem;
}

.linkContainer span:last-child {
  transform: skewX(20deg);
  color: var(--text-primary);
  font-size: 2rem;
}

/* min-width 481 and max-width 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .breadcrumbHeader {
    height: 70px;
  }

  .breadcrumbHeader h2 {
    font-size: 2.5rem;
  }

  .linkContainer {
    flex-basis: 43%;
  }

  .linkContainer span:first-child a {
    font-size: 1.8rem;
  }

  .linkContainer span:first-child a:hover {
    color: #e3f2fd;
  }

  .linkContainer span:nth-child(2) {
    font-size: 1.8rem;
  }

  .linkContainer span:last-child {
    font-size: 1.8rem;
  }
}

/* min-width 375px and max-width 480px*/
@media screen and (min-width: 375px) and (max-width: 480px) {
  .breadcrumbHeader {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    height: 60px;
  }

  .breadcrumbHeader h2 {
    flex-basis: 50%;
    font-size: 2.5rem;
  }

  .linkContainer {
    flex-basis: 50%;
    border: none;
  }

  .linkContainer span:first-child a {
    font-size: 1.6rem;
  }

  .linkContainer span:first-child a:hover {
    color: #e3f2fd;
  }

  .linkContainer span:nth-child(2) {
    font-size: 1.6rem;
  }

  .linkContainer span:last-child {
    font-size: 1.6rem;
  }
}

/* min-width 250 and max-width 374px*/
@media screen and (min-width: 250px) and (max-width: 374px) {
  .breadcrumbHeader {
    flex-direction: column;
    justify-content: center;
    height: 50px;
    gap: 20px;
    padding: 30px 0;
  }

  .breadcrumbHeader h2 {
    font-size: 2.2rem;
  }

  .linkContainer {
    border: none;
  }

  .linkContainer span:first-child a {
    font-size: 1.4rem;
  }

  .linkContainer span:first-child a:hover {
    color: #e3f2fd;
  }

  .linkContainer span:nth-child(2) {
    font-size: 1.4rem;
  }

  .linkContainer span:last-child {
    font-size: 1.4rem;
  }
}
