/* Hamburger hidden by default */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* 768px and below */
@media screen and (max-width: 768px) {
  .menu-web {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .mobile-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    margin-right: 10px;
  }
}
