.heroBanner {
  background-color: var(--bg-secondary);
  padding: 20px;
  height: 500px;
}

/* min-width 481 and max-width 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .heroBanner {
    padding: 15px;
    height: 400px;
  }
}

/* min-width 375px and max-width 480px*/
@media screen and (min-width: 375px) and (max-width: 480px) {
  .heroBanner {
    padding: 15px;
    height: 250px;
  }
}

/* min-width 250 and max-width 374px*/
@media screen and (min-width: 250px) and (max-width: 374px) {
  .heroBanner {
    padding: 15px;
    height: 220px;
  }
}
