.card-wrapper {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: var(--bg-secondary);
  box-shadow: 0 0 10px 3px rgb(204, 197, 197);
}

.img-container {
  width: 25%;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 5px;
}

.img-container img {
  width: 100%;
}

.card-wrapper h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-primary);
}

.card-wrapper p {
  font-size: 1.6rem;
  line-height: 18px;
  color: var(--text-secondary);
  height: 50px;
}

.readMoreBtn {
  padding: 0 12px 4px 12px;
  font-size: 1.6rem;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background: #0a4f8b;
  color: var(--text-light);
  transition: all 0.2s ease;
}

.readMoreBtn:hover {
  background: var(--secondary-color);
}

.readMoreBtn span {
  font-size: 2rem;
}
