.services-section {
  padding: 50px 19px 80px 37px;
  background-color: var(--bg-light);
}

.services-section h2 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  color: #0d3d74;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card-carousel {
  display: none;
}

/* min-width 481 and max-width 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .services-section {
    padding: 35px 15px 60px 33px;
  }

  .services-section h2 {
    font-size: 3.2rem;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card-carousel {
    display: none;
  }
}

/* min-width 375px and max-width 480px*/
@media screen and (min-width: 425px) and (max-width: 480px) {
  .services-section {
    padding: 25px 10px 30px 10px;
  }

  .services-section h2 {
    font-size: 3.2rem;
    margin-bottom: 15px;
  }

  .cardContainer {
    display: none;
  }

  .card-carousel {
    display: block;
    padding: 0 20px;
  }

  /* Swiper Container */
  .card-carousel :global(.swiper) {
    border-radius: 10px;
  }

  /* Controls Wrapper */
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 134px;
    gap: 12px;
    z-index: 1000;
    margin-bottom: 10px;
  }

  /* dots container */
  .dotsContainer {
    display: flex;
    gap: 5px;
    position: relative;
    top: 130px;
  }

  /* Arrows */
  .controls :global(.customPrev),
  .controls :global(.customNext) {
    background: rgb(158, 158, 236);
    color: #ffffff;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
  }

  /* Pagination Dots */
  .controls :global(.swiper-pagination-bullet) {
    width: 8px;
    height: 8px;
    background-color: #585757;
    opacity: 1;
  }

  .card-carousel :global(.swiper-pagination-bullet-active) {
    background: red;
  }

  /* Dots position (bottom spacing) */
  .card-carousel :global(.swiper-pagination) {
    bottom: -10px;
  }
}

/* min-width 250 and max-width 374px*/
@media screen and (min-width: 250px) and (max-width: 374px) {
  .services-section {
    padding: 20px 10px 25px 10px;
  }

  .services-section h2 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  .cardContainer {
    display: none;
  }

  .card-carousel {
    display: block;
    padding: 0 10px;
  }

  /* Swiper Container */
  .card-carousel :global(.swiper) {
    border-radius: 10px;
  }

  /* Controls Wrapper */
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 138px;
    z-index: 1000;
    margin-bottom: 10px;
  }

  /* dots container */
  .dotsContainer {
    display: flex;
    gap: 3px;
    position: relative;
    top: 135px;
  }

  /* Arrows */
  .controls :global(.customPrev),
  .controls :global(.customNext) {
    background: rgb(158, 158, 236);
    color: #ffffff;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    padding: 2px;
    border-radius: 50%;
  }

  /* Pagination Dots */
  .controls :global(.swiper-pagination-bullet) {
    width: 6px;
    height: 6px;
    background-color: #585757;
    opacity: 1;
  }

  .card-carousel :global(.swiper-pagination-bullet-active) {
    background: red;
  }
}
